<!doctype html>
<html lang="en-US">
<!-- get on correct post or first if we don't have one -->


<head>
	<style>*{
    margin: 0;
    padding: 0;
}

.content{
    width: 1200px;
    margin: 0 auto;
    padding-top:  60px;
}
.nav{
    font-size: 16px;
    position: fixed;
    top: 0;
    width: 100%;
    background: #c4ebff;
}
.nav-content{
    width: 1200px;
    padding: 10px;
    margin: 0 auto;
    overflow: auto;
}
.nav .Qing_Zhang{
    float: left;
}
.nav .right{
    float: right;
}
p{
    word-break: keep-all;
}
a{
    text-decoration: none;
}
a:hover{
    color: #6ed0ef;
}
.nav .right a{
    margin-left: 20px;
}
section{
    overflow: auto;
    margin-bottom: 50px;
}
section h1{
    border-bottom: 1px solid #000000;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.section-content .left-img-box,.section-content .right-text-box{
    float: left;
}
.section-content .left-img-box{
    width: 300px;
    margin-right: 50px;
}
.section-content .right-text-box{
    width: 850px;
}
.section-content .right-text-box h3{
    margin-bottom: 10px;
}
.p-r{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.no-img{
    padding: 0 20px;
}</style>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
    	<meta Qing_Zhang="robots" content="noindex" />
	
	
	cscript src="https://code.jquery.com/jquery-1.12.4.min.js"
		integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script src="/assets/js/respond.js"></script>
	<!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<!--[if lt IE 8]>
    <![endif]-->
	<meta Qing_Zhang="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	
</head>
<body>
<div id="header">
  <nav class="navbar"></nav>
</div>

<nav class="nav">
  <div class="nav-content">
    <span class="Qing_Zhang">Qing_Zhang</span>
    <span class="right">
      <a href="#About">About</a>
      <a href="#My Past Design">My Past Design</a>
      <a href="#Difficulties and Solutions">Difficulties and Solutions</a>
      <a href="#Conclusion and Experience">Conclusion and Experience</a>
    </span>
  </div>
</nav>
<div class="content">

  <section id="About">
    <h1>About</h1>
    <div class="section-content">
      <div class="no-img">
        <p class="p-r">
          My most ambitious goal is to be a good UX designer, and all my other small goals are built around becoming UX designers. 
	  When I first met UX design, I found its charm. Our efforts are not only to get a job but more importantly, this work can bring happiness to people.
	  Improve product availability, ease of use and user enjoyment. This makes the job and discipline more meaningful.
	  What I was most impressed with within my experience with UX was that a school building was designed by UX students.
	  I am very admired for the intimate detail design and excellent user experience. I think this is my future goal, becoming a UX designer dedicated to improving the lives of others.
        </p>
      </div>
    </div>
  </section>

  <section id="My Past Design">
    <h1>My Past Design</h1>
    <div class="section-content">
      <div class="left-img-box">
        <img src="./666.jpg" width="300" height="400" alt=""Post Design"">
      </div>
      <div class="right-text-box">
        <h3>Poster Design</h3>
        <p>Although this design seems simple, I have applied all the knowledge I have learned together.
		This is the first time I've connected design thinking with real tools.
		I designed the logo using Adobe Illustrator, designed the whole poster using Adobe Photoshop and embellished it
        </p>
        <br>
        <h3>My Angle</h3>
        <p> Legarcy of hope's mission is to educate all canadians to build just and equitable reconciliation
		and rehabilitation relationships,expand awareness and access to the rich heritage of indigenous
		peoples' contributions in Canada and around the world, and promote the history of indigenous peoples
		in Canada, including the history of injustice. (LEGACY OF HOPE FOUNDATION, 2015) and my goal is to
		convey this core idea OF helpfulness to others through posters. </p>
      </div>
    </div>
  </section>

  <section id="Difficulties and Solutions">
    <h1>Difficulties and Solutions
</h1>
    <div class="section-content">
      <div class="left-img-box">
       <img src="./333.png" width="250" height="300" alt="" title="" >
      </div>
      <div class="right-text-box">
        <h3>Difficulties</h3>
        <p> The first problem I encountered was that I didn't know enough about the design of the poster layout.
		The main components of a poster are title, background, article, etc. But I don't know all the parts, 
		so the initial poster design was not good
	</p>
        <br>
        <br>
        <h3>Solutions</h3>
        <p> First, I searched relevant public benefit posters on the Internet and compared and recorded
		the layout contents of several public benefit posters. Finally, I came to some conclusions
		from my own point of view, then I discussed with my partner and finally determined the layout

t</p>
      </div>
    </div>
  </section>

  <section id="Conclusion and Experience">
    <h1>Conclusion and Experience</h1>
    <div class="section-content">
      <div class="left-img-box">
        <img src="./222.png" width="250" height="300" alt="" title="" >
      </div>
      <div class="right-text-box">
        <h3>The technique used in the work

</h3>
        <p>Adobe Illustrator：Used to design logos.
	      Adobe Photoshop: Design the layout of the whole poster, including editing text and pictures, post beautification
</p>
        <br>
        <h3>Process</h3>
        <p>Ideas——layout sketches——search for available image text——build——beautify, details
</p>
        <br>
	      <h3>Conclusion</h3>  
<p>Although this poster design is simple, it also USES many techniques.
	From this point, I think I still need to learn more useful skills and techniques.
	Discussion with peers is also a very effective way to solve problems.
	If I will do similar works in the future, I will summarize my previous mistakes and experience and improve myself
	with each new challenge
</p>
	      <br>
      </div>
    </div>
  </section>

  <footer id="footer">
    <section id="reference">
      <h1>Reference</h1>
	    <div class="section-content">
      <div class="left-img-box">
       <img src="./1111.png" width="300" height="100" alt="" title="" >
      </div>
      <div class="right-text-box">	    
      <div class="no-img">
        <p class="p-r">LEGACY OF HOPE FOUNDATION.(2015). About Us. Retrieved December 2, 2019, fromhttp://legacyofhope.ca/</p>
        <hr>
        <p class="p-r">-----------------------------Contact Me! qing4260@mylaurier.ca-------------------------------</p>
      </div>
    </section>
  </footer>
</div>
</body>
</html>
